* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}

.editor {
  padding: 20px;
  background: #efefef;
  height: 140px;
  overflow-y: scroll;
  font-family: 'Roboto Mono', monospace;
  line-height: 24px;
  font-size: 16px;
}

.editor-container {
  position: relative;
}

.editor-carets {
  position: absolute;
  top: 20px;
  left: 20px;
}

.editor-caret {
  position: absolute;
  background: #1abc9c;
  color: #fff;
  width: 4px;
  border-radius: 2px;
  top: 2px;
  height: 18px;
  opacity: 0.5;
  overflow: hidden;
  color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  transition: all 0.3s;
  font-size: 12px;
}

.editor-caret:hover {
  width: 140px;
  border-radius: 8px;
  padding: 0 8px;
  color: #fff;
  opacity: 1;
}
